body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
.color{
    color: orange;
    font-weight: 700;
    font-size: 60px;
}

.name-highlight{
    color: orange;
    font-size: 33px;
    
}


.half-width{
    width: 35%;
    float: left;
    margin: 5%;
    padding: 2%;
}

.half-width img{
    width: 100%;
  
}

.top-banner{
   background-image: url("images/top-banner.png");
   background-repeat: no-repeat;
  
}

section{
    height: 1000px;
}

.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: orange;
   border-radius: 5px;
   color: white;
   font-weight: 300;
   font-size: 24px;
}

h1{
    font-size: 45px;
}
    
p{
    color: grey;
}

.Experience-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
   
}
  
           

.top-text{
    text-align: center;
    margin-right: 1400px;
   
    
}

.border{
    box-shadow: 10px 10px 50px grey;
    background-color: rgb(102, 29, 170);
    border-radius: 15px;
   
}

.text-color{
    color: white;
}
