body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
.color{
    color: orange;
    font-weight: 700;
    font-size: 60px;
}

.name-highlight{
    color: orange;
}


.half-width{
    width: 35%;
    float: left;
    margin: 5%;
    padding: 2%;
}

.half-width img{
    width: 100%;
  
}

.top-banner{
   background-image: url("images/top-banner.png");
   background-repeat: no-repeat;
  
}

section{
    height: 800px;
}

.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: orange;
   border-radius: 5px;
   color: white;
   font-weight: 300;
   font-size: 24px;
}